<% include Partial/Header.ejs%>
<% include Partial/content.ejs%>

<h1>About</h1>
<p>KARTIK KHURANA <i>(KK)</i> </p>
<p>
    <ul style="list-style-type:circle">
      <li>An International Student from Northern Part of India,
        loves working with Computers so took Computer Programming as the course in Georgian College </li>
        <li>Always Wanted to open my own Business or dreamt about being an Enterpreneur,
          so in future looking forward to have hands to hand experience in Designing shoes and clothing sort
          of business.</li>
          <li>Apart from study KK enjoys working at gym and reading motivating stories or books ,
            for example:<b>THE THIRD CIRCLE THEORY</b></li>
          </ul>

<% include Partial/footer.ejs%>
