

    <!DOCTYPE html>
    <html lang="en">
    <head >

        <title>KK</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/public/stylesheets/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="/public/stylesheets/bootstrap-theme.css">


        <link rel="stylesheet" href="http://startbootstrap.com/template-overviews/creative">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            body {background-color: #c0a4ff;}
            #wapper{
                position: relative;
                height: auto;
                min-height: 100%
            }
            #main-content{
                padding-bottom: 60px;
            }
            p {

            display:block;
            margin-left:auto;
            margin-right:auto;

            text-align:center;
            border:2px solid #a1a1a1;
            padding:10px 40px;
            background:#dddddd;
            width:1050px;
            border-radius:25px;
            -moz-border-radius:25px;}
            h1 {
                display:block;
                margin-left:auto;
                margin-right:auto;

                text-align:center;
                border:2px solid #a1a1a1;
                padding:10px 40px;
                background:#dddddd;
                width:1050px;
                border-radius:25px;
                -moz-border-radius:25px;
                padding: 10px;
                text-align: center
            }
            .carousel-inner > .item > img,
            .carousel-inner > .item > a > img {

                width: 70%;
                margin: auto;
            }
        </style>
    </head>

    <title>KARTIK KHURANA</title>


  <style>
    div ul li {
      width:340px;
      margin:0px auto 0px auto;
        float: left;
        text-align:center;
        padding: 20px;
        line-height:28px;
        background: #d1fffa;
        color: #dcbba3;
        margin:100px 10px;
        font-size:20px;
   border-radius:25px;

        text-decoration:none;
    }


  </style>
</html>
<body >
<div>
  <ul>
    <li><a href="/">Home</a> </li>
    <li><a href="/About">About </a> </li>
      <li><a href="/Contact">Contact me</a> </li>
      <li><a href="/Service">Service</a> </li>
      <li><a href="/Project">Project</a> </li>
  </ul>
</div>
