<% include Partial/Header.ejs%>
<% include Partial/content.ejs%>


      <h1 class="text-center home-title">KK</h1>
<ul> <ul class="social-links">
          <li><a title="Github Profile" href=""><i class="fa fa-github-square"></i></a></li>
          <li><a title="Twitter profile" href=""><i class="fa fa-twitter-square"></i></a></li>
          <li><a title="Linkedin Profile" href=""><i class="fa fa-linkedin-square"></i></a></li>
          <li><a title="Facebook profile" href=""><i class="fa fa-facebook-square"></i></a></li>
          <li><a title="Google plus profile" href=""><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
<% include Partial/footer.ejs%>
